<body class="">
    <div id="page-container">
      <div id="page-container2" class="">
        <div id="wrapper"> 
         <app-mobilemenu></app-mobilemenu>
          <div id="desktopheader">
            <app-header></app-header>
            <app-menu></app-menu>
            
          </div>	  
		  <div id="main-wrapper">   <div id="main" class="clearfix">
	
          <section class="desktopslider">
		<div class="fullwidthslider">
		<img alt="Beautifull Jewellery" src="assets/images_theme/banner.jpg">
		<div class="wrap clearfix bannerlink"><a class="gotomore black" href="/engagement-rings/solitaire">Discover more</a></div>
		</div>
    </section>
    
    <section class="mobileslider">
      
         <div>
			<img alt="Beautifull Jewellery" class="homeBanner" src="assets/images_theme/mobbanner.jpg">
			<div class="wrap clearfix bannerlink"><a class="gotomore black" href="/engagement-rings/solitaire">Discover more</a></div>
		 </div>					
       
    </section>
    
    
     <div class="proList">
      <div class="mainwrap">
         <div class="wrap clearfix">
         <h2 class="discoverourcol"><span>DISCOVER OUR COLLECTION</span></h2>
         <div style="clear:both"></div>
          <ul>
             <li><div class="fearturecat">
              <div class="pic"><a href="engagement-rings">
<img src="assets/images_theme/pic5.jpg" alt="Engagement Rings"></a></div>
              <h2><a href="engagement-rings">Engagement</a></h2>
              <div class="view"><a href="engagement-rings">Explore</a></div></div>
            </li>
             <li><div class="fearturecat">
              <div class="pic"><a href="diamond-rings">
<img src="assets/images_theme/pic6.jpg" alt="Diamond Rings"></a></div>
              <h2><a href="diamond-rings">Diamond</a></h2>
              <div class="view"><a href="diamond-rings">Explore</a></div></div>
            </li>
             <li><div class="fearturecat">
              <div class="pic">
<a href="wedding-rings">
<img src="assets/images_theme/pic7.jpg" alt="Wedding Rings"></a></div>
              <h2><a href="wedding-rings">Wedding</a></h2>
              <div class="view"><a href="wedding-rings">Explore</a></div></div>
            </li>
             <li><div class="fearturecat">
              <div class="pic earings"><a href="diamond-earrings"><img src="assets/images_theme/pic8.jpg" alt="Earings"></a></div>
              <h2><a href="diamond-earrings">Earings</a></h2>
              <div class="view"><a href="diamond-earrings">Explore</a></div></div>
            </li>
             <li><div class="fearturecat">
              <div class="pic"><a href="diamond-pendants"><img src="assets/images_theme/pic9.jpg" alt="Pendants"></a></div>
              <h2><a href="diamond-pendants">Pendants</a></h2>
              <div class="view"><a href="diamond-pendants">Explore</a></div></div>
            </li>
             <li class="last"><div class="fearturecat">
              <div class="pic"><a href="gemstone"><img src="assets/images_theme/pic10.jpg" alt="Gemstone Jewellery"></a></div>
              <h2><a href="gemstone">Gemstones</a></h2>
              <div class="view"><a href="gemstone">Explore</a></div></div>
            </li>
           </ul>
           <div style="clear:both"></div>
        </div>
       </div>
    </div> 
    
     <div class="twoColAd">
      <div class="mainwrap">
         <div class="wrap clearfix">
         	<div class="homeTopban">
              <div class="leftCol">
                    <div class="day30returnhome" onclick="window.location.href='returns-policy.html'">
                        <img src="assets/images/day30returnhome2.jpg" alt="30 days return" class="pick1">
						
                        <a class="gotomore" href="returns-policy.html">Learn more</a>
                    </div>
                    <div class="diamondeducationhome" onclick="window.location.href='education-guide.html'">
                        <img src="assets/images/diamondeducationhome2.jpg" alt="Diamond Education" class="pick1">
						
                        <a class="gotomore" href="education-guide.html">Learn more</a>
                    </div>
              </div>
              <div class="middleCol">
                    <div class="bespokehome" onclick="window.location.href='bespoke-design.html'">
                        <img src="assets/images/bespokehome2.jpg" alt="bespoke" class="pick1">
						
                        <a class="gotomore" href="bespoke-design.html">Discover more</a>
                    </div>
              </div>
              <div class="rightCol">
                    <div class="aboutushome" onclick="window.location.href='about-us.html'">
                        <img src="assets/images/aboutushome2.jpg" alt="About Us" class="pick1">
					
                        <a class="gotomore" href="about-us.html">Discover more</a>
                    </div>
                    <div class="pricematchhome" onclick="window.location.href='price-match-promise.html'">
                        <img src="assets/images/pricematchhome2.jpg" alt="price match promise" class="pick1">
						
                        <a class="gotomore" href="price-match-promise.html">Learn more</a>
                    </div>
              </div>
          </div>
          
          <div class="homebottomban">
              <div class="customerreviewshome" onclick="window.location.href='https://www.reviews.co.uk/company-reviews/store/angelic-diamonds'">
                    <img src="assets/images/customerreviewshome.jpg" alt="Customer Reviews">
                    <a class="gotomore" href="https://www.reviews.co.uk/company-reviews/store/angelic-diamonds">View more</a>
                </div>
             <div class="expertadvisehome" onclick="window.location.href='/?target=contact_us'">
                    <img src="assets/images/expertadvisehome.jpg" alt="Expert Advise">
                    <a class="gotomore" href="/?target=contact_us">Learn more</a>
                </div>
          </div>
          
        </div>
        <div class="wrap clearfix">
        	<div align="center" class="homeh1content"><img id="morehomeinfo" style=" cursor:pointer;" src="assets/images/arrow-down1.png" alt="see more content"></div>
            <div id="morehomeinfocontent" style="display:none;">
            	<h1>Beautiful Diamond Jewellery</h1>
                <p>Welcome to Angelic Diamonds your diamond jewellery experts. We are specialists in the manufacture of fine <strong>diamond jewellery</strong> and pride ourselves on the exceptional quality of our products as well as our first class customer service.</p>
<p>Predominately   an online retailer, we are able to provide our customers with   beautiful diamond jewellery including a wide range of <strong>engagement rings</strong> at unbeatable prices.</p>
<p>We   are very customer focused and can bespoke any piece to suit our   customers' needs. Our bespoke service enables our customers to create a   beautiful piece of jewellery individual to them and created by our   master craftsmen. </p>
<p>All   our products are handmade in the UK and come with a lifetime warranty   and a 30 day money back guarantee. Please do not hesitate to contact us   if you require any further information.</p>

            </div>
        </div>
       </div>
       <div class="homeTopbanMobile">
              <div class="leftCol">
                    <div class="day30returnhome" onclick="window.location.href='returns-policy.html'">
                        <img src="assets/images/day30returnhomeMobile.jpg" alt="30 days return">
                        <a class="gotomore" href="returns-policy.html">Learn more</a>
                    </div>
                    <div class="diamondeducationhome" onclick="window.location.href='education-guide.html'">
                        <img src="assets/images/diamondeducationhomeMobile.jpg" alt="Diamond Education">
                        <a class="gotomore" href="education-guide.html">Learn more</a>
                    </div>
              </div>
              <div class="middleCol">
                    <div class="bespokehome" onclick="window.location.href='bespoke-design.html'">
                        <img src="assets/images/bespokehomeMobile.jpg" alt="bespoke">
                        <a class="gotomore" href="bespoke-design.html">Discover more</a>
                    </div>
              </div>
              <div class="rightCol">
                    <div class="aboutushome" onclick="window.location.href='about-us.html'">
                        <img src="assets/images/aboutushomeMobile.jpg" alt="About Us">
                        <a class="gotomore" href="about-us.html">Discover more</a>
                    </div>
                    <div class="pricematchhome" onclick="window.location.href='price-match-promise.html'">
                        <img src="assets/images/pricematchhomeMobile.jpg" alt="price match promise">
                        <a class="gotomore" href="price-match-promise.html">Learn more</a>
                    </div>
              </div>
          </div>
       <div class="homebottombanMobile">
              <div class="customerreviewshome" onclick="window.location.href='https://www.reviews.co.uk/company-reviews/store/angelic-diamonds'">
                    <img src="assets/images/customerreviewshomeMobile.jpg" alt="Customer Reviews">
                    <a class="gotomore" href="https://www.reviews.co.uk/company-reviews/store/angelic-diamonds">View more</a>
                </div>
             <div class="expertadvisehome" onclick="window.location.href='/?target=contact_us'">
                    <img src="assets/images/expertadvisehomeMobile.jpg" alt="Expert Advise">
                    <a class="gotomore" href="/?target=contact_us">Learn more</a>
                </div>
          </div>
       
       
    </div>
     	 </div>
    </div>     
          <app-footer></app-footer>
        </div>
      </div>
    </div>