<div id="topMenuWrap">
    <div id="topMenu">
      <div class="mainwrap">
        <div class="wrap">
          <div class="openmenu"></div>
          <ul class="topNavMainUl">
            <li class=" taphover"><a routerLink="/collection/engagement-rings">Engagement Rings </a>
              <div class="megamenu" id="megamenu1">
                <div class="lftMenu clearfix">
                  <h2>BROWSE Engagement RINGS BY:</h2>
                  <div class="cols">
                    <div class="col Style">
                      <h3>Style</h3>
                      <ul>
                        <li><a routerLink="/engagement-rings/solitaire"><span class="solitaire"></span> Solitaire Rings</a></li>
                        <li><a routerLink="/engagement-rings/shoulder"><span class="shoulder"></span>Shoulder Rings</a></li>
                        <li><a routerLink="/engagement-rings/halo"><span class="halo"></span>Halo Rings</a></li>
                        <li><a routerLink="/engagement-rings/three-stone"><span class="threestone"></span>Three Stone Rings</a></li>
                        <li><a routerLink="/engagement-rings/cluster"><span class="cluster"></span>Cluster Rings</a></li>
                        <li><a routerLink="/engagement-rings/tension"><span class="tension"></span>Tension Rings</a></li>
                        <li><a routerLink="/engagement-rings/bezel"><span class="bezel"></span>Bezel Rings</a></li>
                        <li><a routerLink="/engagement-rings/vintage"><span class="vintage"></span>Vintage Rings</a></li>
                      </ul>
                    </div>
                    <div class="col Shape">
                      <h3>Shape</h3>
                      <ul>
                        <li><a routerLink="/engagement-rings/round"><span class="round"></span>Round</a></li>
                        <li><a routerLink="/engagement-rings/princess"><span class="princess"></span>Princess</a></li>
                        <li><a routerLink="/engagement-rings/emerald"><span class="emerald"></span>Emerald </a></li>
                        <li><a routerLink="/engagement-rings/asscher"><span class="asscher"></span>Asscher</a></li>
                        <li><a routerLink="/engagement-rings/oval"><span class="oval"></span>Oval</a></li>
                        <li><a routerLink="/engagement-rings/pear"><span class="pear"></span>Pear</a></li>
                        <li><a routerLink="/engagement-rings/heart"><span class="heart"></span>Heart</a></li>
                        <li><a routerLink="/engagement-rings/marquise"><span class="marquise"></span>Marquise</a></li>
                        <li><a routerLink="/engagement-rings/cushion"><span class="cushion"></span>Cushion</a></li>
                        <li><a routerLink="/engagement-rings/radiant"><span class="radiant"></span>Radiant</a></li>
                      </ul>
                    </div>
                    <div class="col metal">
                      <h3>Metal</h3>
                      <ul>
                        <li><a routerLink="/engagement-rings/9k-white-gold"><span class="wg9k">9k</span>9K White Gold</a></li>
                        <li><a routerLink="/engagement-rings/9k-yellow-gold"><span class="yg9k">9k</span>9K Yellow Gold</a></li>
                        <li><a routerLink="/engagement-rings/9k-rose-gold"><span class="rg9k">9k</span>9K Rose Gold</a></li>
                        <li><a routerLink="/engagement-rings/18k-white-gold"><span class="wg18k">18k</span>18K White Gold</a></li>
                        <li><a routerLink="/engagement-rings/18k-yellow-gold"><span class="yg18k">18k</span>18K Yellow Gold</a></li>
                        <li><a routerLink="/engagement-rings/18k-rose-gold"><span class="rg18k">18k</span>18K Rose Gold</a></li>
                        <li><a routerLink="/engagement-rings/platinum"><span class="platinum">pt</span>Platinum</a></li>
                        <li><a routerLink="/engagement-rings/palladium"><span class="palladium">pd</span>Palladium</a></li>
                      </ul>
                    </div>
                    <div class="col bespoke">
                      <h3>Useful Links</h3>
                      <ul>
                        <li><a routerLink="/education-guide.html">Education Buying Guide</a></li>
                        <li><a routerLink="/diamond-size-guide.html">Interactive Diamond Size Guide</a></li>
                        <li><a routerLink="/ring-size-guide.html">Ring Size Guide</a></li>
                        <li><a routerLink="/finance.html">0% Interest Free Finance Available</a></li>
                        <li><a routerLink="/bespoke-design.html">Bespoke Design Service Available</a></li>
                      </ul>
                      <div class="bespokeimg engagement_img"> <img alt="Bespoke engagement ring" src="assets/images/engagement_ring_sketch_web.jpg"> </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class=" taphover"><a class="links_2" routerLink="/collection/diamond-rings"> Diamond Rings </a>
              <div class="megamenu" id="megamenu2">
                <div class="lftMenu clearfix">
                  <h2>BROWSE DIAMOND RINGS BY:</h2>
                  <div class="cols">
                    <div class="col Style">
                      <h3>Style</h3>
                      <ul>
                        <li><a routerLink="/diamond-rings/three-stone"><span class="threestonediamondrings"></span>Three Stone Rings</a></li>
                        <li><a routerLink="/diamond-rings/five-stone"><span class="fivestonediamondrings"></span>Five Stone Rings</a></li>
                        <li><a routerLink="/diamond-rings/seven-stone"><span class="sevenstonediamondrings"></span>Seven Stone Rings </a></li>
                        <li><a routerLink="/diamond-rings/half-eternity"><span class="halfeternitydiamondrings"></span>Half Eternity Rings</a></li>
                        <li><a routerLink="/diamond-rings/full-eternity"><span class="fulleternitydiamondrings"></span>Full Eternity Rings</a></li>
                        <li><a routerLink="/diamond-rings/eternity"><span class="fulleternitydiamondrings"></span>Eternity Rings</a></li>
                        <li><a routerLink="/diamond-rings/cluster"><span class="clusterdiamondrings"></span>Cluster Rings</a></li>
                        <li><a routerLink="/diamond-rings/halo"><span class="halodiamondrings"></span>Halo Rings</a></li>
                        <li><a routerLink="/diamond-rings/mens"><span class="mensdiamondrings"></span>Mens Rings</a></li>
                        <li><a routerLink="/diamond-rings/angelic-collection"><span class="angeliccollectiondiamondrings"></span>Angelic Collection</a></li>
                      </ul>
                    </div>
                    <div class="col Shape">
                      <h3>Shape</h3>
                      <ul>
                      <li><a routerLink="/diamond-rings/round"><span class="round"></span>Round </a></li>
                      <li><a routerLink="/diamond-rings/princess"><span class="princess"></span>Princess </a></li>
                      <li><a routerLink="/diamond-rings/emerald"><span class="emerald"></span>Emerald </a></li>
                      <li><a routerLink="/diamond-rings/oval"><span class="oval"></span>Oval </a></li>
                      <li><a routerLink="/diamond-rings/pear"><span class="pear"></span>Pear </a></li>
                      <li><a routerLink="/diamond-rings/heart"><span class="heart"></span>Heart </a></li>
                      <li><a routerLink="/diamond-rings/marquise"><span class="marquise"></span>Marquise</a></li>
                      <li><a routerLink="/diamond-rings/cushion"><span class="cushion"></span>Cushion </a></li>
                      </ul>
                    </div>
                    <div class="col metal">
                      <h3>Metal</h3>
                      <ul>
                      <li><a routerLink="/diamond-rings/9k-white-gold"><span class="wg9k">9k</span>9K White Gold</a></li>
                      <li><a routerLink="/diamond-rings/9k-yellow-gold"><span class="yg9k">9k</span>9K Yellow Gold</a></li>
                      <li><a routerLink="/diamond-rings/9k-rose-gold"><span class="rg9k">9k</span>9K Rose Gold </a></li>
                      <li><a routerLink="/diamond-rings/18k-white-gold"><span class="wg18k">18k</span>18K White Gold</a></li>
                      <li><a routerLink="/diamond-rings/18k-yellow-gold"><span class="yg18k">18k</span>18K Yellow Gold</a></li>
                      <li><a routerLink="/diamond-rings/18k-rose-gold"><span class="rg18k">18k</span>18K Rose Gold</a></li>
                      <li><a routerLink="/diamond-rings/platinum"><span class="platinum">pt</span>Platinum</a></li>
                      <li><a routerLink="/diamond-rings/palladium"><span class="palladium">pd</span>Palladium</a></li>
                      </ul>
                    </div>
                    <div class="col bespoke">
                      <h3>Useful Links</h3>
                      <ul>
                        <li><a routerLink="/education-guide.html">Education Buying Guide</a></li>
                        <li><a routerLink="/diamond-size-guide.html">Interactive Diamond Size Guide</a></li>
                        <li><a routerLink="/ring-size-guide.html">Ring Size Guide</a></li>
                        <li><a routerLink="/finance.html">0% Interest Free Finance Available</a></li>
                        <li><a routerLink="/bespoke-design.html">Bespoke Design Service Available</a></li>
                      </ul>
                      <div class="bespokeimg diamond_img"> <img alt="Bespoke diamond ring" src="assets/images/diamond_ring_sketch_web.jpg"> </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class=" taphover"><a class="links_3" routerLink="/collection/wedding-rings">Wedding Rings </a>
              <div class="megamenu" id="megamenu3">
                <div class="lftMenu clearfix">
                  <h2>BROWSE Wedding RINGS BY:</h2>
                  <div class="cols">
                    <div class="col Mens">
                      <h3>Mens</h3>
                      <ul>
                        <li><a routerLink="/wedding-rings/mens-plain"><span class="mensplainweddingrings"></span>Mens Plain Ring</a></li>
                        <li><a routerLink="/wedding-rings/mens-diamond"><span class="mensdiamondweddingrings"></span>Mens Diamond Ring</a></li>
                      </ul>
                    </div>
                    <div class="col Ladies">
                      <h3>Ladies</h3>
                      <ul>
                        <li><a routerLink="/wedding-rings/ladies-plain"><span class="ladiesplainweddingrrings"></span>Ladies Plain Ring</a></li>
                        <li><a routerLink="/wedding-rings/ladies-diamond"><span class="ladiesdiamondweddingrings"></span>Ladies Diamond Ring</a></li>
                      </ul>
                    </div>
                    <div class="col metal">
                      <h3>Metal</h3>
                      <ul>
                        <li><a routerLink="/wedding-rings/9k-white-gold"><span class="wg9k">9k</span>9K White Gold</a></li>
                        <li><a routerLink="/wedding-rings/9k-yellow-gold"><span class="yg9k">9k</span>9K Yellow Gold</a></li>
                        <li><a routerLink="/wedding-rings/9k-rose-gold"><span class="rg9k">9k</span>9K Rose Gold</a></li>
                        <li><a routerLink="/wedding-rings/18k-white-gold"><span class="wg18k">18k</span>18K White Gold </a></li>
                        <li><a routerLink="/wedding-rings/18k-yellow-gold"><span class="yg18k">18k</span>18K Yellow Gold</a></li>
                        <li><a routerLink="/wedding-rings/18k-rose-gold"><span class="rg18k">18k</span>18K Rose Gold</a></li>
                        <li><a routerLink="/wedding-rings/platinum"><span class="platinum">pt</span>Platinum</a></li>
                        <li><a routerLink="/wedding-rings/palladium"><span class="palladium">pd</span>Palladium</a></li>
                      </ul>
                    </div>
                    <div class="col bespoke">
                      <h3>Useful Links</h3>
                      <ul>
                        <li><a routerLink="/education-guide.html">Education Buying Guide</a></li>
                        <li><a routerLink="/diamond-size-guide.html">Interactive Diamond Size Guide</a></li>
                        <li><a routerLink="/ring-size-guide.html">Ring Size Guide</a></li>
                        <li><a routerLink="/finance.html">0% Interest Free Finance Available</a></li>
                        <li><a routerLink="/bespoke-design.html">Bespoke Design Service Available</a></li>
                      </ul>
                      <div class="bespokeimg wedding_img"> <img alt="Bespoke wedding ring" src="assets/images/wedding_ring_pale_web.jpg"> </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class=" taphover"><a class="links_4" routerLink="/collection/diamond-earrings"> Earrings </a>
              <div class="megamenu" id="megamenu4">
                <div class="lftMenu clearfix">
                  <h2>BROWSE Earrings BY:</h2>
                  <div class="cols">
                    <div class="col Style">
                      <h3>Style</h3>
                      <ul>
                        <li><a routerLink="/diamond-earrings/stud"><span class="studearrings"></span>Stud Earrings</a></li>
                        <li><a routerLink="/diamond-earrings/halo"><span class="haloearrings"></span>Halo Earrings</a></li>
                        <li><a routerLink="/diamond-earrings/drop"><span class="dropearrings"></span>Drop Earrings</a></li>
                        <li><a routerLink="/diamond-earrings/hoop"><span class="hoopearrings"></span>Hoop Earrings</a></li>
                        <li><a routerLink="/diamond-earrings/cluster"><span class="clusterearrings"></span>Cluster Earrings</a></li>
                        <li><a routerLink="/diamond-earrings/angelic-collection"><span class="angeliccollectionearrings"></span>Angelic Collection</a></li>
                      </ul>
                    </div>
                    <div class="col Shape">
                      <h3>Shape</h3>
                      <ul>
                        <li><a routerLink="/diamond-earrings/round"><span class="round"></span>Round</a></li>
                        <li><a routerLink="/diamond-earrings/princess"><span class="princess"></span>Princess</a></li>
                        <li><a routerLink="/diamond-earrings/pear"><span class="pear"></span>Pear</a></li>
                        <li><a routerLink="/diamond-earrings/heart"><span class="heart"></span>Heart</a></li>
                      </ul>
                    </div>
                    <div class="col metal">
                      <h3>Metal</h3>
                      <ul>
                        <li><a routerLink="/diamond-earrings/9k-white-gold"><span class="wg9k">9k</span>9K White Gold</a></li>
                        <li><a routerLink="/diamond-earrings/9k-yellow-gold"><span class="yg9k">9k</span>9K Yellow Gold</a></li>
                        <li><a routerLink="/diamond-earrings/9k-rose-gold"><span class="rg9k">9k</span>9K Rose Gold</a></li>
                        <li><a routerLink="/diamond-earrings/18k-white-gold"><span class="wg18k">18k</span>18K White Gold </a></li>
                        <li><a routerLink="/diamond-earrings/18k-yellow-gold"><span class="yg18k">18k</span>18K Yellow Gold</a></li>
                        <li><a routerLink="/diamond-earrings/18k-rose-gold"><span class="rg18k">18k</span>18K Rose Gold</a></li>
                      </ul>
                    </div>
                    <div class="col bespoke">
                      <h3>Useful Links</h3>
                      <ul>
                        <li><a routerLink="/education-guide.html">Education Buying Guide</a></li>
                        <li><a routerLink="/diamond-size-guide.html">Interactive Diamond Size Guide</a></li>
                        <li><a routerLink="/ring-size-guide.html">Ring Size Guide</a></li>
                        <li><a routerLink="/finance.html">0% Interest Free Finance Available</a></li>
                        <li><a routerLink="/bespoke-design.html">Bespoke Design Service Available</a></li>
                      </ul>
                      <div class="bespokeimg earring_img"> <img alt="Bespoke diamond earrings " src="assets/images/earrings_sketch_web.jpg"> </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class=" taphover"><a class="links_5" routerLink="/collection/diamond-pendants"> Pendants </a>
              <div class="megamenu" id="megamenu5">
                <div class="lftMenu clearfix">
                  <h2>BROWSE Pendants BY:</h2>
                  <div class="cols">
                    <div class="col Style">
                      <h3>Style</h3>
                      <ul>
                        <li><a routerLink="/diamond-pendants/solitaire"><span class="solitairependants"></span>Solitaire Pendants</a></li>
                        <li><a routerLink="/diamond-pendants/cluster"><span class="clusterpendants"></span>Cluster Pendants</a></li>
                        <li><a routerLink="/diamond-pendants/halo"><span class="halopendants"></span>Halo Pendants</a></li>
                        <li><a routerLink="/diamond-pendants/heart"><span class="heartpendants"></span>Heart Pendants</a></li>
                        <li><a routerLink="/diamond-pendants/drop"><span class="droppendants"></span>Drop Pendants</a></li>
                        <li><a routerLink="/diamond-pendants/cross"><span class="crosspendants"></span>Cross Pendants</a></li>
                        <li><a routerLink="/diamond-pendants/circle"><span class="circlependants"></span>Circle Pendants</a></li>
                        <li><a routerLink="/diamond-pendants/angelic-collection"><span class="angeliccollectionpendants30"></span>Angelic Collection</a></li>
                      </ul>
                    </div>
                    <div class="col Shape">
                      <h3>Shape</h3>
                      <ul>
                        <li><a routerLink="/diamond-pendants/round"><span class="round"></span>Round</a></li>
                        <li><a routerLink="/diamond-pendants/princess"><span class="princess"></span>Princess</a></li>
                        <li><a routerLink="/diamond-pendants/pear"><span class="pear"></span>Pear</a></li>
                      </ul>
                    </div>
                    <div class="col metal">
                      <h3>Metal</h3>
                      <ul>
                        <li><a routerLink="/diamond-pendants/9k-white-gold"><span class="wg9k">9k</span>9K White Gold</a></li>
                        <li><a routerLink="/diamond-pendants/9k-yellow-gold"><span class="yg9k">9k</span>9K Yellow Gold</a></li>
                        <li><a routerLink="/diamond-pendants/9k-rose-gold"><span class="rg9k">9k</span>9K Rose Gold</a></li>
                        <li><a routerLink="/diamond-pendants/18k-white-gold"><span class="wg18k">18k</span>18K White Gold </a></li>
                        <li><a routerLink="/diamond-pendants/18k-yellow-gold"><span class="yg18k">18k</span>18K Yellow Gold</a></li>
                        <li><a routerLink="/diamond-pendants/18k-rose-gold"><span class="rg18k">18k</span>18K Rose Gold</a></li>
                      </ul>
                    </div>
                    <div class="col bespoke">
                      <h3>Useful Links</h3>
                      <ul>
                        <li><a routerLink="/education-guide.html">Education Buying Guide</a></li>
                        <li><a routerLink="/diamond-size-guide.html">Interactive Diamond Size Guide</a></li>
                        <li><a routerLink="/ring-size-guide.html">Ring Size Guide</a></li>
                        <li><a routerLink="/finance.html">0% Interest Free Finance Available</a></li>
                        <li><a routerLink="/bespoke-design.html">Bespoke Design Service Available</a></li>
                      </ul>
                      <div class="bespokeimg"> <img alt="Bespoke diamond pendant" src="assets/images/Pendant_sketch_web.jpg"> </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class=" taphover"><a class="links_6" routerLink="/collection/gemstone">Gemstone</a>
              <div class="megamenu" id="megamenu6">
                <div class="lftMenu clearfix">
                  <h2>BROWSE Gemstone BY:</h2>
                  <div class="cols">
                    <div class="col Style">
                      <h3>Style</h3>
                      <ul>
                        <li><a routerLink="/gemstone/rings"><span class="gemstonerings"></span>Gemstone Rings</a></li>
                        <li><a routerLink="/gemstone/earrings"><span class="gemstoneearrings"></span>Gemstone Earrings</a></li>
                        <li><a routerLink="/gemstone/pendants"><span class="gemstonependants"></span>Gemstone Pendants</a></li>
                      </ul>
                      <h3>Type</h3>
                      <ul>
                        <li><a routerLink="/gemstone/ruby"><span class="rubygemstone"></span>Ruby</a></li>
                        <li><a routerLink="/gemstone/sapphire"><span class="sapphiregemstone"></span>Sapphire</a></li>
                        <li><a routerLink="/gemstone/emerald"><span class="emeraldgemstone"></span>Emerald</a></li>
                        <li><a routerLink="/gemstone/pink-sapphire"><span class="pinksapphiregemstone"></span>Pink Sapphire</a></li>
                      </ul>
                    </div>
                    <div class="col Shape">
                      <h3>Shape</h3>
                      <ul>
                        <li><a routerLink="/gemstone/round"><span class="round"></span>Round</a></li>
                        <li><a routerLink="/gemstone/emerald-1"><span class="emerald"></span>Emerald </a></li>
                        <li><a routerLink="/gemstone/oval"><span class="oval"></span>Oval</a></li>
                        <li><a routerLink="/gemstone/pear"><span class="pear"></span>Pear</a></li>
                        <li><a routerLink="/gemstone/cushion"><span class="cushion"></span>Cushion</a></li>
                      </ul>
                    </div>
                    <div class="col metal">
                      <h3>Metal</h3>
                      <ul>
                        <li><a routerLink="/gemstone/9k-white-gold"><span class="wg9k">9k</span>9K White Gold</a></li>
                        <li><a routerLink="/gemstone/9k-yellow-gold"><span class="yg9k">9k</span>9K Yellow Gold</a></li>
                        <li><a routerLink="/gemstone/9k-rose-gold"><span class="rg9k">9k</span>9K Rose Gold</a></li>
                        <li><a routerLink="/gemstone/18k-white-gold"><span class="wg18k">18k</span>18K White Gold </a></li>
                        <li><a routerLink="/gemstone/18k-yellow-gold"><span class="yg18k">18k</span>18K Yellow Gold</a></li>
                        <li><a routerLink="/gemstone/18k-rose-gold"><span class="rg18k">18k</span>18K Rose Gold</a></li>
                        <li><a routerLink="/gemstone/palladium"><span class="palladium">pd</span>Palladium</a></li>
                        <li><a routerLink="/gemstone/platinum"><span class="platinum">pt</span>Platinum </a></li>
                      </ul>
                    </div>
                    <div class="col bespoke">
                      <h3>Useful Links</h3>
                      <ul>
                        <li><a routerLink="/education-guide.html">Education Buying Guide</a></li>
                        <li><a routerLink="/diamond-size-guide.html">Interactive Diamond Size Guide</a></li>
                        <li><a routerLink="/ring-size-guide.html">Ring Size Guide</a></li>
                        <li><a routerLink="/finance.html">0% Interest Free Finance Available</a></li>
                        <li><a routerLink="/bespoke-design.html">Bespoke Design Service Available</a></li>
                      </ul>
                      <div class="bespokeimg gemstone_img"> <img alt="Bespoke gemstone ring" src="assets/images/gemstone-sketch.jpg"> </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class=" taphover"><a class="links_7" routerLink="/collection/diamond-bracelets">Bracelets</a>
              <div class="megamenu" id="megamenu7">
                <div class="lftMenu clearfix">
                  <h2>BROWSE Bracelets BY:</h2>
                  <div class="cols">
                    <div class="col Style">
                      <h3>Style</h3>
                      <ul>
                        <li><a routerLink="/diamond-bracelets/tennis"><span class="tennisbracelet"></span>Tennis Bracelets</a></li>
                        <li><a routerLink="/diamond-bracelets/delicate"><span class="delicatebracelet"></span>Delicate Bracelets</a></li>
                      </ul>
                    </div>
                    <div class="col Shape">
                      <h3>Shape</h3>
                      <ul>
                        <li><a routerLink="/diamond-bracelets/round"><span class="round"></span>Round</a></li>
                        <li><a routerLink="/diamond-bracelets/princess"><span class="princess"></span>Princess</a></li>
                      </ul>
                    </div>
                    <div class="col metal">
                      <h3>Metal</h3>
                      <ul>
                        <li><a routerLink="/diamond-bracelets/9k-white-gold"><span class="wg9k">9k</span>9K White Gold</a></li>
                        <li><a routerLink="/diamond-bracelets/9k-yellow-gold"><span class="yg9k">9k</span>9K Yellow Gold</a></li>
                        <li><a routerLink="/diamond-bracelets/9k-rose-gold"><span class="rg9k">9k</span>9K Rose Gold</a></li>
                        <li><a routerLink="/diamond-bracelets/18k-white-gold"><span class="wg18k">18k</span>18K White Gold </a></li>
                        <li><a routerLink="/diamond-bracelets/18k-yellow-gold"><span class="yg18k">18k</span>18K Yellow Gold</a></li>
                        <li><a routerLink="/diamond-bracelets/18k-rose-gold"><span class="rg18k">18k</span>18K Rose Gold</a></li>
                      </ul>
                    </div>
                    <div class="col bespoke">
                      <h3>Useful Links</h3>
                      <ul>
                        <li><a routerLink="/education-guide.html">Education Buying Guide</a></li>
                        <li><a routerLink="/diamond-size-guide.html">Interactive Diamond Size Guide</a></li>
                        <li><a routerLink="/ring-size-guide.html">Ring Size Guide</a></li>
                        <li><a routerLink="/finance.html">0% Interest Free Finance Available</a></li>
                        <li><a routerLink="/bespoke-design.html">Bespoke Design Service Available</a></li>
                      </ul>
                      <div class="bespokeimg bracelete_img"> <img alt="Bespoke diamond bracelet" src="assets/images/bracelet_sketch_web.jpg"> </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
       
        </div>
      </div>
    </div>
  </div>